$bg-color-first: rgba(#06092bf2, 95%);
$bg-color-last: #044f4d;
$primary-color: #73f7ea;
$primary-color-bright: #8eefed;
$secondary-color: #ffffff;
$blur-color: rgba(#0f112b, 43%);
$nonblur-color: #0f112b;
$header-blur-color: rgba(#1d0c41, 60%);
$header-blur-border-color: rgba(#0f112bc9, 79%);
$transition-time: 250ms;
