@use 'app/variables.scss' as vars;

.button {
  position: relative;
  display: flex;
  justify-content: end;
  width: 100%;
  padding: 1rem clamp(2.4rem, 4vw, 3.2rem) 1rem;
  border-radius: 1rem;
  font-size: clamp(2rem, 3vw, 2.4rem);
  font-weight: 500;
  color: vars.$secondary-color;

  &.active {
    background-color: vars.$blur-color;
    padding-right: 2.5rem;

    &::after {
      content: '';
      position: absolute;
      display: block;
      right: 1.2rem;
      top: 50%;
      transform: translateY(-50%);
      height: 70%;
      width: 0.3rem;
      border-radius: 0.5rem;
      background-color: vars.$primary-color-bright;
    }
  }
}
