@use 'app/variables.scss' as vars;

.button {
  background-color: vars.$primary-color-bright;
  color: vars.$nonblur-color;
  padding: clamp(0.6rem, 2vw, 1.1rem) clamp(2rem, 4vw, 3.6rem);
  font-size: clamp(1.6rem, 3vw, 2.4rem);
  font-weight: 800;
  border-radius: clamp(1.4rem, 3vw, 2.1rem);
}
